img{
    max-width:100%;
}
body{
    font-family:Century Gothic;
    text-align:center;
    background-image:linear-gradient(to bottom right,grey,gold,rgb(210,147,19),gold,rgb(210, 147, 19),grey)}
    h1{
        text-align:center;
        border-style:inset;
        border-color:black;
        border-left-width:9px;
        padding:9px 11px;
        background-color:rgb(212, 160, 26);
    }
    h2{
        text-align:left;
    }
.container1{
    display:flex;
    background-color:goldenrod;
}
.container1 div{
    background-color:rgb(239, 193, 76);
    border:1px solid black;
    padding: 10px ;
    font-size: 30px ;
    text-align: center ;
}
.container2{
    display:grid;
    grid-template-areas:"header header"
                         "info1 info2"
                         "info3 info4"
                         "info5 info6";
    grid-template-columns:1fr 3fr;
    gap:3px;
    background-color:black;
    padding:5px;
}
.container2 div{
    background-color:rgb(239, 193, 76);
    padding:10px;
}
.container2 div.header{
    grid-area:header;
    text-align:center;}
.container2 div.info1{
    grid-area:info1;}
.container2 div.info2{
    grid-area:info2;}
.container2 div.info3{
    grid-area:info3;}
.container2 div.info4{
    grid-area:info4;}
.container2 div.info5{
    grid-area:info5;}
.container2 div.info6{
    grid-area:info6}
    
footer{
    animation-name:bounce;
    animation-duration:1s;
    animation-timing-function:ease;
    animation-iteration-count:infinite;
    animation-direction:normal;
    animation-fill-mode:both;}

@keyframes bounce{
        0%,100%{transform:translateY(o); }
        50%{transform:translateY(-30px); }
    }
    @media(max-width:600px){
        .container{
            flex-direction:column;
            width:360px;
            font-size:15px;
        }
    }

